

<!-- Footer -->
<footer class="text-center text-light" style="background-color: #131314;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://facebook.com" target="_blank" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/" target="_blank" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://google.com" target="_blank" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/g3r4rd0_javier/" target="_blank" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/in/galvareza" target="_blank" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/AiakosCl" target="_blank" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Suscríbete al Newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="correo" class="form-control" />
                            <label class="form-label" for="correo">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4 text-light" data-bs-toggle="modal" data-bs-target="#Confirmacion">
                            Suscribir
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

    <!-- Copyright -->
    <div class="text-center p-3">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://aiakoscl.github.io/" target="_blank">desarrollado por Gerardo Alvarez para Desafío Latam</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->