<section id="property_listing_section" class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12">
                <div class="theme_heading">
                    <h2>Latest Property Listings</h2>
                </div>
                <div class="theme_description">
                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 theme_button">
                <a href="javascript:void(0);" class="btn">explore all listings<svg
                        class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false"
                        data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z">
                        </path>
                    </svg><!-- <i class="icon fa-solid fa-arrow-right"></i> Font Awesome fontawesome.com --></a>
            </div>
        </div>

        <div id="property-listings" class="pt-80 slick-initialized slick-slider">

            <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 4641px; transform: translate3d(-357px, 0px, 0px);">
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="-1" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-3.png"
                                alt="property_image">
                            <p class="property-price">$650k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-current slick-active" tabindex="0" style="width: 357px;"
                        data-slick-index="0" aria-hidden="false">
                        <div class="property-image"><img src="assets/images/property-listing/property-1.png"
                                alt="property_image">
                            <p class="property-price">$800k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide" tabindex="-1" style="width: 357px;" data-slick-index="1"
                        aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-2.png"
                                alt="property_image">
                            <p class="property-price">$1.3m</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide" tabindex="-1" style="width: 357px;" data-slick-index="2"
                        aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-3.png"
                                alt="property_image">
                            <p class="property-price">$650k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide" tabindex="-1" style="width: 357px;" data-slick-index="3"
                        aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-1.png"
                                alt="property_image">
                            <p class="property-price">$800k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide" tabindex="-1" style="width: 357px;" data-slick-index="4"
                        aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-2.png"
                                alt="property_image">
                            <p class="property-price">$1.3m</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide" tabindex="-1" style="width: 357px;" data-slick-index="5"
                        aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-3.png"
                                alt="property_image">
                            <p class="property-price">$650k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="6" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-1.png"
                                alt="property_image">
                            <p class="property-price">$800k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="7" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-2.png"
                                alt="property_image">
                            <p class="property-price">$1.3m</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="8" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-3.png"
                                alt="property_image">
                            <p class="property-price">$650k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="9" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-1.png"
                                alt="property_image">
                            <p class="property-price">$800k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="10" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-2.png"
                                alt="property_image">
                            <p class="property-price">$1.3m</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                    <div class="property slick-slide slick-cloned" tabindex="-1" style="width: 357px;"
                        data-slick-index="11" id="" aria-hidden="true">
                        <div class="property-image"><img src="assets/images/property-listing/property-3.png"
                                alt="property_image">
                            <p class="property-price">$650k</p>
                        </div>
                        <h3 class="property-title">the mysterious mansion</h3>
                        <p class="property-address">228 Park Ave S, NY, 10003-1502, USA</p>
                        <div class="facilities">
                            <p class="bedroom-facility value">Bedroom: <span>3</span></p>
                            <p class="bathroom-facility value">Bathroom: <span>5</span></p>
                            <p class="area-facility value">Area: <span>1230 Sft.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>